<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="하루 친구(전문가,관리자)"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortfolioTeenagerEmotionPreventAppExpertAndManager"
        tools:targetApi="31">

        <activity
            android:name=".AllMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllLoginActivity"
            android:exported="false"
            android:parentActivityName=".AllMainActivity" />


        <activity
            android:name=".ExpertRegisterActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />
        <activity
            android:name=".ExpertInfoListActivity"
            android:parentActivityName=".ExpertTeenagerListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExpertTeenagerListActivity" />
        </activity>

        <activity
            android:name=".ExpertInfoSetListActivity"
            android:exported="false"
            android:parentActivityName=".ExpertInfoListActivity" />
        <activity
            android:name=".ExpertTeenagerChatActivity"
            android:exported="false"
            android:parentActivityName=".ExpertTeenagerStatisticsActivity"
            android:windowSoftInputMode="adjustPan"/>
<!--            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>-->
        <activity
            android:name=".ExpertTeenagerStatisticsActivity"
            android:exported="false"
            android:parentActivityName=".ExpertTeenagerListActivity" />
        <activity
            android:name=".ExpertTeenagerListActivity"
            android:exported="false"
            android:parentActivityName=".ExpertSelectActivity" />
        <activity
            android:name=".ExpertSelectActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />



        <activity
            android:name=".ManagerRegisterActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />
        <activity
            android:name=".ManagerExpertApproveActivity"
            android:exported="false"
            android:parentActivityName=".ManagerSelectActivity" />
        <activity
            android:name=".ManagerTeenagerListActivity"
            android:exported="false"
            android:parentActivityName=".ManagerSelectActivity" />
        <activity
            android:name=".ManagerExpertListActivity"
            android:exported="false"
            android:parentActivityName=".ManagerTeenagerListActivity" />
        <activity
            android:name=".ManagerSelectActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />

    </application>

</manifest>